<section>
    <div class="d-flex justify-content-center align-items-center flex-column text-uppercase ">
        <h1 class=" ">conatct section



        </h1>
        <div class="rating p-3  d-flex justify-content-center align-items-center  ">
            <span class="line1 "></span>
            <i class="fa-solid fa-star text-black"></i>
            <span class="line1  "></span>
        </div>
    </div>
    <div class="container  w-50">
       <div>
        <div>
            <label class="" for="userName"> User Name</label>
            <input type="text"          [(ngModel)]="userName" 
            id="userName" name="userName" class="form-control border-bottom-only my-5" placeholder="name">
        </div>
        <div>
            <input type="text" class="form-control border-bottom-only" placeholder="userAge">
        </div>
        <div>
            <input type="text" class="form-control border-bottom-only my-5" placeholder="userEmail">
        </div>
        <div>
            <input type="text" class="form-control border-bottom-only" placeholder="userPassword">
        </div>
       </div>
        <div>
            <button class="btn btn-primary my-5">
                send message
            </button>
        </div>
    </div>
</section>