<section>
    <div class="d-flex justify-content-center align-items-center flex-column ">
        <h1 class="text-uppercase">portfolio component


        </h1>
        <div class="rating p-3  d-flex justify-content-center align-items-center  ">
            <span class="line1 "></span>
            <i class="fa-solid fa-star text-black"></i>
            <span class="line1  "></span>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative">
                        <img alt="" class="w-100 rounded-3" src="assets/images/poert1.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x">

                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative">
                        <img alt="" class="w-100 rounded-3" src="assets/images/port2.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative"><img
                            alt="" class="w-100 rounded-3" src="assets/images/port3.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative">
                        <img alt="" class="w-100 rounded-3" src="assets/images/poert1.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative"><img
                            alt="" class="w-100 rounded-3" src="assets/images/port2.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rounded-3 overflow-hidden position-relative"><img
                            alt="" class="w-100 rounded-3" src="assets/images/port3.png">
                        <div _ngcontent-oax-c19=""
                            class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x">

                            </i>
                        </div>
                    </div>
                </div><!---->
            </div>
        </div>
    </div>

</section>