section{
    background-color: #1ABC9C;
    
}
.line1{
    display: inline-block;
    height: 5px;
    background-color: white;
    width: 100px;
    margin: 0 10px;
}
h1{
   
}
.row{

   
    padding: 0 5%;
}
.container{
   padding: 12% 0; 
}