<section>
    <div class="container ">
        <div>
            <h1
                class="text-center text-uppercase fw-bold fs-1 text-white d-flex justify-content-center align-items-center flex-column ">
                about component
            </h1>
        </div>
        <div class="rating p-3  d-flex justify-content-center align-items-center">
            <span class="line1 bg-white"></span>
            <i class="fa-solid fa-star text-white"></i>
            <span class="line1 bg-white"></span>
        </div>
        <div class="row text-white ">
            <div class="col-md-6 ps-md-5">
                <p _ngcontent-ddv-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes
                    the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets
                    for easy customization. </p>
            </div>
            <div class="col-md-6 ps-md-5">
                <p _ngcontent-ddv-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes
                    the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets
                    for easy customization. </p>
            </div>

        </div>

    </div>

</section>