<section class="contact-area" id="contact">
    <div class="container p-4 ">
        <div class="row  text-white">
            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>                
            </div>
            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                <h3>AROUND THE WEB</h3>
                <div class="icons gap-3 d-flex">
                    <div class="icon-container">
                        <i class="fa-brands fa-facebook mx-1 icon"></i>
                    </div>
                    <div class="icon-container">
                    <i class="fa-brands fa-twitter mx-1 icon"></i>
                    </div>
                    <div class="icon-container">
                    <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                    </div>
                    <div class="icon-container">
                    <i class="fa-solid fa-globe mx-1 icon"></i>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap</p>
                <p>
                    theme created by Route
                </p>
            </div>
        </div>
    </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <div class="p text-white footer1"><p _ngcontent-egc-c21="">Copyright © Your Website 2021</p>
    </div>
</footer>