<nav class="navbar  navbar-expand-lg  fixed-top">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold text-white fs-2" href="#">Start Framework
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-4 text-uppercase fw-bolder fs-6">
                
                <li class="nav-item">
                    <a routerLinkActive="" routerLink="about" class="nav-link text-white" >About</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="" routerLink="portfolio" class="nav-link text-white" >portfolio</a>
                </li>
                
                <li class="nav-item">
                    <a routerLink="contact" class="nav-link text-white" >Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
