<section>
    <div class="home d-flex justify-content-center align-items-center text-white flex-column p-5">
        <div class="img text-center">
            <img src="assets/images/avataaars.svg" alt="" class="mb-3">
        </div>
        <div>
            <h1 class="text-uppercase">start Framework</h1>
        </div>
        <div class="rating p-2">
            <span class="line1 "></span>
            <i class="fa-solid fa-star"></i>
            <span class="line1"></span>
        </div>
        <div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>